* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

                    /* primary style */
.family-1 {
  font-family: 'Merriweather', serif;
}

.family-2 {
  font-family: 'Inter', sans-serif;
}
                  /* end */

/* header related styles */
.header-bannar {
  position: relative;
  max-width: 1056px;
  margin: auto;
  top: 50px;
  bottom: 50px;
}

.bannar-img {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.bannar-ditels {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannar-title-1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
}

.bannar-title-2 {
  color: #ffffff;
  padding: 20px;
  font-size: 60px;
  font-weight: 900;
  line-height: 79px;
}

.header-offer {
  text-align: center;
  margin-top: 110px;
}
                                     /* end */

                                 /* main section */


.discount-rate {
  color: #FF0000;
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 38px;
}

.header-offer p {
  font-size: 24px;
  color: #FF0000;
  font-weight: 500;
}

.header-offer h4 {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 700;
  color: #000000;

}

.new-year {
  width: 600px;
  margin: 48px 0;
}
                                      /* end */

                                /* welcome section related styles */
.welcome-section {
  position: relative;
  width: 1056px;
  margin: auto;
  margin-bottom: 120px;
}

.welcome-section .background {
  background: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0));
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.bannar-2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 53px;

}

.bannar-text h2 {
  color: #ffffff;
  width: 513px;
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  margin-bottom: 20px;
}

.bannar-text p {
  color: #FFFFFFCC;
  width: 522px;
  margin-bottom: 40px;
}

.bannar-logo img {
  width: 229px;
}

.common-btn {
  color: #000000;
  padding: 8px 8px;
  border-radius: 5px;
  transition: all .2s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.common-btn:hover {
  background-color: #FF0B08;
  color: #ffffff;
}

                                          /* end */


                              /* join form related styles */

.join-form {
  background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(7, 2, 17, 0));
  width: 1056px;
  text-align: center;
  padding: 100px 286px 48px 286px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.join-form p {
  color: #000000;
  font-size: 28px;
  line-height: 45px;
}

.join-form p span {
  color: rgba(255, 0, 0, 1);
}

.join-form .common-btn {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 84px;
}

                               /* end */


                      /* update offer related styles */

.update-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.update-title {
  margin: auto;
}

.update-title h4 {
  color: #FF0000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;

}

.update-title h2 {
  color: #000000;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}


.update-title p {
  color: #07021199;
  width: 260px;
  font-size: 20px;
  text-align: justify;
}



.update-offer .img {
  background-color: #FF0000;
  padding: 15px;
  margin-left: 40px;
  border-radius: 50%;
}

.update-offer .img .img-2 {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 50%;

}

.date-logo {
  margin: 40px;
}

.date-logo h2 {
  color: #FF0000;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 16px;

}

.date-logo p {
  color: #07021199;
  width: 260px;
  font-size: 20px;
  text-align: justify;
}

.date-logo img {
  margin-top: 80px;
}

                                         /* emd */

                              /* holidays related styles */

.holidays-offer {
  margin-bottom: 54px;
}

.holidays-offer .text {
  text-align: center;
}

.text h6 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.text h2 {
  color: #FF0000;
  font-size: 60px;
}

.text h2 span {
  color: #000000;
}

.text p {
  color: #07021199;
  width: 854px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.discount-bannar {
  position: relative;
  width: 1056px;
  height: 502px;
  margin: 0 auto;
}

.discount-bannar .box {
  width: 597px;
  z-index: 100;
}

.box-logo-pic {
  width: 1056px;
  margin: none;
}

.discount-bannar .logo {
  width: 154px;
  position: absolute;
  z-index: 100;
  right: 245px;
  bottom: 240px;

}

.discount-bannar .pic {
  width: 321px;
  position: absolute;

  right: 0;
  bottom: 180px;
}

.discount-bannar img {
  width: 1056px;
  position: absolute;
  bottom: 0;
}
                                /* end */

                                    /* Product */


.product {
  width: 1056px;
  margin: 0 auto;
}

.product h4 {
  font-size: 20px;
  font-weight: 500;
  color: #FF0000;
  margin-bottom: 12px
}

.product h2 {
  font-size: 40px;
  width: 900;
  color: #000000;
  margin-bottom: 22px;
}

.product p {
  font-size: 20px;
  color: #07021199;
  margin-bottom: 42px;
}

.product-colum-1 {
  display: flex;
  justify-content: space-between;
  width: 1056px;height: 417px;
  margin: 0 auto;
}

.product-colum-1 .box {
  width: 338px;
  transition: all .3s ease;
}
.product-colum-1 .box:hover {
  width: 400px;
}

.product-colum-1 .box img {
  width: 100%;
}

.product-colum-2 {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  height: 417px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-colum-2 .box  {
  width: 340px;
  transition: all .3s ease;
}
.product-colum-2 .box:hover {
  width: 400px;
}

.product-colum-2 .box img {
  width: 100%;
}


/* end */


/* subscribe section related styles */

.subscription-section {
  width: 1056px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 120px;
}

.subscription-section img {
  width: 112px;
  padding-top: 80px;
}

.subscription-section h2 {
  font-size: 40px;
  width: 900;
  color: #000000;
  padding: 40px 0 0 20px;
}

.subscription-section p {
  font-size: 20px;
  color: #07021199;
  width: 672px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.input-button {
  padding-bottom: 70px;
}

.input-button input {
  padding: 24px 200px 24px 22px;
  border-radius: 25px 0 0 25px;
  border: transparent;
  outline: none;
  color: #000000;


}

.input-button button {
  cursor: pointer;
  padding: 24px 42px;
  border-radius: 0 28px 28px 0px;
  border: transparent;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(255, 0, 0, 1);
}

/* end */



footer {
  height: 600px;
  background-color: rgba(7, 2, 17, 1);
}

footer .address {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 50px;

}

.address .home-area .paragraph {
  font-size: 24px;
  width: 500;
  color: #ffffff;
}

.address .contact .paragraph {
  font-size: 24px;
  width: 500;
  color: #ffffff;

}

.web-link {
  display: flex;
  gap: 10px;
}

.phone {
  display: flex;
  gap: 10px;
  width: 1056px;
}

hr {
  width: 90%;
  margin: 10px auto;
  opacity: .4;
}

/* end */

/* social icon related style */
.social-meida {
  text-align: center;
  padding: 48px 0;
}

.social-meida img {
  cursor: pointer;
  padding: 0 10px;
}

.copy-right-unsubscribe {
  width: 1056px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 98px;
}

.copy-right-unsubscribe .paragraph {
  font-size: 24px;
  width: 500;
  color: #ffffff;
}

.copy-right-unsubscribe button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
}